{% extends 'base.html' %}


{% load static %}
{% block scc %}
<link rel="stylesheet" href="{% static 'staff/normalize.css' %}">
<link rel="stylesheet" href="{% static 'staff/bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'staff/bootstrap/css/index.css' %}">
{% endblock %}
{% block title %}Index{% endblock %}
{% block header %}<h3>This's start page for project shift!</h3>
<div class="countainer">
    <ul>
        <li>
            <div>
                <p>
                    <a href="shifts">Смены</a>
                </p>
            </div>
        </li>
        <li>
            <div>
                <p>
                    <a href="employees">Сотрудники</a>
                </p>
            </div>
        </li>
        <li>
            <div>
                <p>
                    <a href="menagement">Управление</a>
                </p>
            </div>
        </li>
                <li>
            <div>
                <p>
                    <a href="standart_messages">Заполнить типовое сообщение.</a>
                </p>
            </div>
        </li>
    </ul>
</div>
{% endblock %}
{% block main %}{% endblock %}
{% block footer %} {% endblock %}
