{% extends 'base.html' %}


{% load static %}
{% block scc %}
<link rel="stylesheet" href="{% static 'staff/normalize.css' %}">
<link rel="stylesheet" href="{% static 'staff/bootstrap/css/bootstrap.css' %}">
{% endblock %}
{% block title %}Shifts.{% endblock %}
{% block header %}
<div>

    {% if shift %}
    <ul>
        {% for item in shift %}
        <li>
            {{ item }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if employee %}
    <ul>
        {% for item in employee %}
        <li>
            {{ item.id }}

            {{ item }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <!--    <ul>-->
    <!--        {% for item in shiftday %}-->
    <!--        <li>-->
    <!--            {{ item.employee.id }}-->
    <!--        </li>-->
    <!--        {% endfor %}-->
    <!--    </ul>-->
</div>
{% endblock %}
{% block main %}{% endblock %}
{% block footer %} {% endblock %}
