

* {
    box-sizing: border-box;
}

html{
    font-family: Ebrima sans-serif;
    background-color: cornsilk;
    color: slategrey;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}


.countainer{
    max-width: 800px;
    max-height: 800px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
}

.main-title{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.li-review-label{
    font-size: xx-large;
    text-align: center;
}

.li-review-input{
    text-align: center;
}


