
html{
    font-family: Ebrima sans-serif;
    background-color: cornsilk;
    color: slategrey;
}


.countainer{
    max-width: 1200px;
    max-height: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
}

.main-title{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}









