

* {
    box-sizing: border-box;
}

html{
    font-family: Ebrima sans-serif;
    color: slategrey;

}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}


.countainer{
    max-width: 800px;
    max-height: 800px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
}

.about-back{
    margin-top: 25px;
}

.back{
    text-decoration: none;
    color: black;
}

.main-title{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.form-all{
    margin-top: 50px;
}
