{% extends 'base.html' %}


{% load static %}
{% block scc %}
<link rel="stylesheet" href="{% static 'shift/normalize.css' %}">
<link rel="stylesheet" href="{% static 'shift/bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'shift/bootstrap/css/index.css' %}">
{% endblock %}
{% block title %}Index{% endblock %}
{% block header %}<h3>This's start page for project shift!</h3>
<div class="countainer">
    <ul>
        <li>
            <div>
                <p>
                    <a href="">Смены</a>
                </p>
            </div>
        </li>
        <li>
            <div>
                <p>
                    <a href="">Сотрудники</a>
                </p>
            </div>
        </li>
        <li>
            <div>
                <p>
                    <a href="">Управление</a>
                </p>
            </div>
        </li>
    </ul>
</div>
{% endblock %}
{% block main %}{% endblock %}
{% block footer %} {% endblock %}
