{% extends 'shift/base.html' %}

{% load static %}
{% block scc %}
<link rel="stylesheet" href="{% static 'shift/normalize.css' %}">
<link rel="stylesheet" href="{% static 'shift/bootstrap/css/bootstrap.css' %}">
{% endblock %}
{% block title %}Shift{% endblock %}
{% block header %}
<h2> SHIFT № </h2>
<div>
    <ul>
        {% for massage in messages %}
        <li>
            <p>
                {{ massage }}
            </p>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
{% block main %}
<div>
    <form action="{% url 'shift' %}" method="POST">
        {% csrf_token %}
        <ul>
            {% for item in form %}
            <li>
                {{ item.name }}
                {{ item }}
            </li>
             {% endfor %}
            <li>
                <button type="submit" class="">Submit</button>
            </li>
        </ul>




<!--        {{ form }}-->
        <!--    <div class="mb-3">-->
        <!--        <label for="shift-date" class="form-label">Shift date.</label>-->
        <!--        <input type="date" class="form-control" id="shift-date" aria-describedby="shift-date">-->
        <!--        <div id="shift-date-help" class="form-text">Введите дату смены</div>-->
        <!--    </div>-->
        <!--    <div class="mb-3">-->
        <!--        <label for="difficulty-of-shift" class="form-label">Difficulty of shift.</label>-->
        <!--        <input type="difficulty" class="form-control" id="difficulty-of-shift">-->
        <!--        <div id="difficulty-of-shift-help" class="form-text">Введите сложность мены от 0 до 10.0</div>-->
        <!--    </div>-->
        <!--    <div class="mb-3">-->
        <!--        <label for="text-of-shift" class="form-label">Describe shift.</label>-->
        <!--        <textarea name="text" class="form-control" id="text-of-shift" cols="30" rows="10"></textarea>-->
        <!--        <div id="text-of-shift-help" class="form-text">Описание наиболее существенных моментов.</div>-->
        <!--    </div>-->
        <!--    <div class="mb-3 form-check">-->
        <!--        <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
        <!--        <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
        <!--    </div>-->
        <!--    <button type="submit" class="btn btn-primary">Submit</button>-->

    </form>

</div>

{% endblock %}
{% block footer %} {% endblock %}
