<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='index.css')}}">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<div
class="countainer">
    <div class="information-view">
        <h1 class="main-title">Hello this's home-work for flask ORM </h1>
        {% for item in posts %}
        <h3>{{ item }}</h3>
        {% endfor %}
    </div>
</div>
<footer>
    <ul>
        {% for item in time_lst %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
</footer>

</body>
</html>