{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='post_detail.css') }}">
{% endblock %}
{% block title %}Post-Details{% endblock %}
{% block body %}
<div class="countainer">
    <div class="about-back">
        <a href="/">Back</a>
    </div>
    <div class="post-main">
        <h2>{{ author.username }}</h2>
        <h3 class="post-main-theme"></h3>
        <p>{{ post.review }}</p>
    </div>

    <div class="review-answers">
        <div>
            <ul class="ul-answers">
                {% for item in answers %}
                <H4>{{ item.writer }}</H4>
                <p>{{ item.answer }}</p>
                {% endfor %}
            </ul>
        </div>
            <form method="post">
                <ul class="ul-answer">
                    <li class="li-answer-label"><label for="a-writer">Name</label></li>
                    <li class="li-answer-input"><input name="writer" id="writer" ></li>
                    <li class="li-answer-label"><label for="a-text">Review</label></li>
                    <li class="li-answer-text"><textarea name="answer" id="answer" cols="75" rows="7"></textarea></li>
                </ul>
                <input type="submit" class="btn-review" value="Send">
            </form>
    </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}